<nav>
    <p id="logo">SGVP</p>
    <ul>
        <li><a href="/produto">Produtos</a></li>
        <li><a href="/venda">Vendas</a></li>
        <% if (1) { %>
            <li><a href="/vendedor">Vendedores</a></li>
        <% } %>
        
    </ul>

    <span>
        <a href="/perfil">
            <img src="./public/images/icons/account_circle_white_24dp.svg" alt="">
            Usuário
        </a>

        <a href="/dashboard">
            <img src="./public/images/icons/dashboard_white_24dp.svg" alt="">
            Dashboard
        </a>

        <a href="/login">
            <img src="./public/images/icons/logout_white_24dp.svg" alt="">
            Logout
        </a>
    </span>

    <button onclick="swapLightAndDarkMode()">
        Dark
    </button>

    <button onclick="aumentarFonte()">
        +
    </button>

    <button onclick="diminuirFonte()">
        -
    </button>
</nav>