<%- contentFor('secao') %>
    <div class="container venda">
        <h1><a href="/venda" class="button"><img src="/images/icons/arrow_back_white_24dp.svg"
                    alt=""></a> Venda 00001 <a href="./editarVenda.html"><img
                    src="/images/icons/edit_black_24dp.svg" alt=""></a><a href="#"><img
                    src="/images/icons/clear_black_24dp.svg" alt=""></a></h1>
        <div class="venda-block">
            <p><strong>Data:</strong> 10/05/2023 - 16:00h</p>
            <p><strong>Vendedor:</strong> 00001 - Vendedor A</p>
            <div>
                <p><strong>Produtos:</strong></p>
                <ul>
                    <li>5x 00001 - Produto A - R$ 10,00</li>
                </ul>
            </div>
            <p><strong>Valor total:</strong> R$ 50,00</p>
        </div>
    </div>