<%- contentFor('secao') %>

    <div class="dashboard container">
        <div id="vendas" class="grid-items">
            <div class="top">Vendas no Dia <p>1000</p>
            </div>
        </div>
        <div id="lucro" class="grid-items">
            <div class="top">Lucro do Dia <p>$ 1000,00</p>
            </div>
        </div>
        <div id="lucro2" class="grid-items">
            <div class="top">Lucro do Total <p>$ 20000,50</p>
            </div>
        </div>
        <div id="chart1" class="grid-items">
            <div id="chart_div1"></div>
        </div>
        <div id="chart2" class="grid-items">
            <div id="chart_div2"></div>
        </div>
    </div>