<%- contentFor('secao') %>

    <div class="form container">
        <h1><a href="/produto" class="button"><img src="/images/icons/arrow_back_white_24dp.svg"
                    alt=""></a> Login</h1>
        <form method="POST" action="/verifica_login">
            <span>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </span>
            <span>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </span>
            <a href="#">Esqueceu a senha?</a>
            <button type="submit">Acessar</button>
        </form>
    </div>