<%- contentFor('secao') %>
    <nav>
        <p id="logo">SGVP</p>
        <ul>
            <li><a href="./produtos.html">Produtos</a></li>
        </ul>

        <span>
            <a href="./login.html">
                <img src="./public/images/icons/login_white_24dp.svg" alt="">
                Login
            </a>
        </span>
    </nav>

    <div class="form container">
        <h1><a href="./produtos.html" class="button"><img src="./public/images/icons/arrow_back_white_24dp.svg"
                    alt=""></a> Login</h1>
        <form method="post" enctype="multipart/form-data">
            <span>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </span>
            <span>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </span>
            <a href="#">Esqueceu a senha?</a>
            <button type="submit">Acessar</button>
        </form>
    </div>