<%- contentFor('secao') %>
    <div class="details container">
        <h1><a href="/vendededor" class="button"><img src="/images/icons/arrow_back_white_24dp.svg"
                    alt=""></a> Vendedor A <a href="/vendededor/editar"><img
                    src="/images/icons/edit_black_24dp.svg" alt=""></a><a href="#"><img
                    src="/images/icons/clear_black_24dp.svg" alt=""></a></h1>
        <div class="grid-produto">
            <div class="img">
                <img src="/images/vendedores/vendedorA.png" alt="">
            </div>
            <div class="info">
                <p><b>ID:</b> 00001</p>
                <p><b>Nome:</b> Vendedor A</p>
                <p><b>Meta (R$):</b> 1000,00</p>
                <p><b>Atual (R$):</b> 500,00</p>
            </div>
            <div class="description">
                <p><b>Email</b> vendedor_a@sgvp.com</p>
                <p><b>Telefone</b> (88) 8888-8888</p>
                <p><b>Endereço: </b> Rua A, 1, - Bairro A, Cidade A - AA</p>
                <br>
                <p><b>Últimas vendas:</b></p>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Valor (R$)</th>
                                <th>Data</th>
                                <th class="crud">Detalhes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>50,00</td>
                                <td>10/05/2023 - 16:00h</td>
                                <td class="crud">
                                    <a href="/vendededor/ver"><img src="/images/icons/zoom_in_black_24dp.svg"
                                            alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td>50,00</td>
                                <td>10/05/2023 - 16:00h</td>
                                <td class="crud">
                                    <a href="/vendededor/ver"><img src="/images/icons/zoom_in_black_24dp.svg"
                                            alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td>50,00</td>
                                <td>10/05/2023 - 16:00h</td>
                                <td class="crud">
                                    <a href="/vendededor/ver"><img src="/images/icons/zoom_in_black_24dp.svg"
                                            alt=""></a>
                                </td>
                            </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>