* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #3E5BB2;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

}

body,
html {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
}

nav {
    background-color: #3E5BB2;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border: none;
    z-index: 9999;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    gap: 10%;

    font-size: 1.2rem;
}

nav span {
    justify-content: space-around;
    display: flex;
    font-size: 1.2rem;
    gap: 10%;


}

nav span a {
    display: flex;
    font-size: 1.2rem;
    gap: 2%;
}

div.container {
    margin: 10% auto 0 auto;
}

div.table {
    width: 100%;
    max-width: 900px;
}

div.table button {
    background-color: #3E5BB2;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 20px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);


    display: flex;
    gap: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

thead {
    background-color: #3E5BB2;
    color: #fff;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.crud {
    width: 15%;
}

div.form {
    width: 100%;
    max-width: 400px;
    gap: 100px
}

div.form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

div.form form span {
    display: flex;
    flex-direction: column;
}

div.form form span label {
    font-weight: bold;
    margin-bottom: 5px;
}

div.form form span input, div.form form span select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

div.form form span.produtos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.form form span.produtos input {
    width: 20%;
}

div.form form span#buttons {
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

div.form form button {
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: none;
}

button#delete {
    background-color: #BF251C;
}

div.details {
    width: 90%;
    max-width: 500px;
}

div.grid-produto {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;

    margin: 20px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

div.grid-produto div.img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

div.grid-produto div.info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    padding: 5%;
}

div.grid-produto div.img img {
    border-radius: 5px;
    width: 100%;
}

div.grid-produto div.description {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

div.venda {
    width: 90%;
    max-width: 400px;
}

div.venda div.venda-block {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;

    font-size: 1.2rem;
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.perfil {
    height: auto;
    width: 80%;
    margin-top: 2%;
}

.perfil-1 {
    height: 550px;
    width: 25%;
    background-color: #3E5BB2;
    float: left;
    padding: 10px;
    border-radius: 2%;
    box-shadow: -2px -1px 8px -4px #888888;
}

.avatar {
    background: #fff;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    color: white;
    margin: 0 auto;

}

.perfil-2 {
    height: 100%;
    width: 72%;
    float: left;
    margin-left: 3%;
}

.items-perfil-2 {
    background: #fff;
    margin-top: 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -2px -1px 10px -4px #888888;
}

.items-perfil-2:last-child {
    background: #fff;
    margin-top: 20px;
}

.items-perfil {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    text-transform: none;
    font-size: 20px;
}

.item-perfil:first-child {
    font-size: 24px;
    color: #EC9A29;
    font-weight: bold;

}

.items-perfil-1 {
    margin-top: 10px;
    padding: 10px;
}

.items-perfil ul li {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}

ul li {
    text-decoration: none;
}

.info {
    margin-top: 20px;
}

.info p {
    margin-top: 2%;
}

.perfil button {
    font-weight: bold;
    font-size: 1.2rem;
    width: 40%;
}

.perfil input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.perfil label {
    font-weight: bold;
    margin-bottom: 5px;
}


div.dashboard {
    width: 80vw;
    height: 60vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10px;
}

div.dashboard span {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

div.dashboard span div{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

div.dashboard span div.top{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

div.dashboard span div p{
    font-size: 40px;
    font-weight: bold;
    color:#3E5BB2;
}


div.dashboard span#vendas {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}

div.dashboard span#lucro {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

div.dashboard span#lucro2 {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
}

div.dashboard span#chart1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#chart_div1 {
    height: 300px;    
}

div.dashboard span#chart2 {
    grid-column: 3 / 3;
    grid-row: 2 / 3;
}

#chart_div2 {
    height: 300px;
    position: relative;
}